
KeyBoardPCB/History/
KeyBoardPCB/Project Logs for KeyBoard/
KeyBoardPCB/__Previews/
*.o
*.crf
*.map
*.dep
*.htm
*.d

KeyBoardPCB/Project Outputs for KeyBoard/Design Rule Check - PCB.drc
KeyBoardPCB/Project Outputs for KeyBoard/Design Rule Check - PCB.html
*.SchDocPreview
